@use '../../../../style/variables' as *;

mat-table {
    background: none;
    cursor: pointer;
}

.erledigt {
    color: $dgreen;
}

.center {
    text-align: center;
}

mat-row,
mat-header-row {
    mat-cell:first-child,
    mat-header-cell:first-child {
        flex: 0 0 110px;
    }

    mat-cell:nth-child(3),
    mat-header-cell:nth-child(3) {
        flex: 0 0 110px;
        justify-content: center !important;
    }

    mat-cell:last-child,
    mat-header-cell:last-child {
        flex: 0 0 50px;
        justify-content: center !important;
    }
}

.fa-trash-o:hover {
    color: $color-contrast-hover;
}
