.idea/
*.iml
target/
derby.log
#LibreOffice Lockfiles (z.B. beim Bearbeiten von basisreport.xls)
.~lock*
# Irgendwelche Lockfiles (Citrix/Office?)
.attribute^
.access^
~\$*
~\*
ebegu-runconfig/wildfly_9.0.2/build.properties
ebegu-runconfig/wildfly_10.0.0.Final/build.properties
/*/~/.m2
~/.m2
/ebegu-rest/ch.dvbern.ebegu.entities.*/_*
/ebegu-server/ch.dvbern.ebegu.entities.*/_*
/ebegu-rest/ch.dvbern.ebegu.entities.*/segments_*
/ebegu-rest/ch.dvbern.ebegu.entities.*/write.lock
/ebegu-server/ch.dvbern.ebegu.entities.*/segments_*
/ebegu-server/ch.dvbern.ebegu.entities.*/write.lock
/ebegu-server/jboss.server.data.dir/*
ebegu-dbschema/info.txt
ebegu-dbschema/src/main/resources/_createTables.sql
ebegu-dbschema/src/main/resources/_nachher.txt
ebegu-dbschema/src/main/resources/_vorher.txt
ebegu-dbschema/src/main/resources/test.json
ebegu-server/ch.dvbern.ebegu.entities.Betreuung/
ebegu-server/ch.dvbern.ebegu.entities.Fall/
ebegu-server/ch.dvbern.ebegu.entities.Gesuch/
ebegu-server/ch.dvbern.ebegu.entities.GesuchstellerContainer/
ebegu-server/ch.dvbern.ebegu.entities.KindContainer/
ebegu-shared/src/test/java/ch/dvbern/ebegu/config/
ebegu-web/src/assets/impressum/
ebegu-web/src/impressum/
/logstash/input/local/server.log**
/logstash/input/dev/server.log**
/logstash/input/uat/server.log**
/logstash/input/prod1/server.log**
/logstash/input/prod2/server.log**
/.run/**
.run/**
/ebegu-dbschema/src/main/resources/_nachher.sql
/ebegu-dbschema/src/main/resources/_vorher.sql
/ebegu-dbschema/_dbNachher.sql
/ebegu-dbschema/_dbVorher.sql

*.snap.debug
.flattened-pom.xml
.scannerwork

.vscode
.nx
**/.DS_Store

ebegu-web/coverage

# Lokale/Eigene Build-Einstellungen für jeden Entwickler
**/ebegu-docker.properties
**/ebegu-local-docker.properties
**/ebegu-dump-docker.properties
**/*.env
