# Ensures line endings are normalized to LF in repo
# see https://git-scm.com/docs/gitattributes#_end_of_line_conversion
* text=auto

# Make sure, that at least Shell-Script have Unix line endings
*.sh text eol=lf

# Exceptions where Windows line endings required:
*.bat      text eol=crlf
*.ps1      text eol=crlf
*.cmd      text eol=crlf
