<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Ki-Tax: System for the management of external childcare subsidies
  ~ Copyright (C) 2017 City of Bern Switzerland
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<!--suppress WebProperties -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		 version="6.0">
	<distributable/>
	<display-name>ebegu-rest</display-name>

	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>ebegu-web-protected-resources</web-resource-name>
			<url-pattern>/api/*</url-pattern>

		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<session-config>
		<!-- session will expire after 120 minutes of inactivity. Any user activity will reset the timer. --> 
		<session-timeout>120</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
	</session-config>

	<!--Achtung diese 2. Security constraint erlaubt wieder einige url-patterns die in der ersten geschuetzt wurden-->
	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>ebegu-web-allowed-pattern</web-resource-name>
			<url-pattern>/api/v1/locallogin/*</url-pattern>
			<url-pattern>/api/v1/swagger.json</url-pattern>
			<url-pattern>/api/v1/auth/set-mandant</url-pattern>
			<url-pattern>/api/v1/auth/set-mandant-redirect</url-pattern>
			<url-pattern>/api/v1/auth/init-connect-gs-zpv</url-pattern>
			<url-pattern>/api/v1/application-properties/public/*</url-pattern>
			<url-pattern>/api/v1/testfaelle/schulung/public/*</url-pattern>
			<url-pattern>/api/v1/gemeinde/active</url-pattern>
			<url-pattern>/api/v1/gemeinde/allBfs</url-pattern>
			<url-pattern>/api/v1/i18n/change</url-pattern>
			<url-pattern>/api/v1/mandanten/id/*</url-pattern>
			<url-pattern>/api/v1/mandanten/all</url-pattern>
			<url-pattern>/api/v1/gemeinde/activeAndSchulverbund</url-pattern>
			<url-pattern>/api/v1/gesuche/zpvNummerSuccess/*</url-pattern>
			<url-pattern>/api/v1/meldungsfenster/public/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<!-- Roles are declared with @DeclareRoles in EbeguApplicationV1 -->
	<filter>
		<filter-name>javamelody</filter-name>
		<!-- Der Filter stellt aktuelle Monitoring-Infos unter /monitoring zur Verfuegung -->
		<!--<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>-->
		<!-- Wir benutzen unseren eigenen Filter in dem wir die IDs aus REST-Resourcen durch Platzhalter entfernen -->
		<filter-class>ch.dvbern.ebegu.api.util.EbeguMonitoringFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>
