<lib-gesuch-page-layout>
    <lib-gesuch-page-heading>
        {{ 'Dagmar Wälti' | translate }}
        <dv-bisher-x
            [deklaration]="{}"
            [showBisher]="hasBisher()"
            [specificBisherText]="'DURCH_GEMEINDE_ERFASST' | translate"
            [showSpecificBisherTextIfBisherNone]="true"
            [showIfBisherNone]="true"
        ></dv-bisher-x>
    </lib-gesuch-page-heading>

    <p>GesuchErwerbspensumView works!</p>
    <fieldset>
        <div class="tw-inline">
            <input type="checkbox" [(ngModel)]="hasBisher" id="has-bisher" />
            <label
                for="has-bisher"
                class="tw-inline tw-ml-2 ignore-danger-font-color tw-align-text-top"
                >Toggle dv-bisher fürs Testing
            </label>
        </div>
    </fieldset>
    <p>
        KibTooltip Text example erweitere Bedürfnisse:
        <kib-tooltip>
            <div [innerHTML]="'ERWEITERTE_BEDUERFNISSE_HINT' | translate"></div>
        </kib-tooltip>
    </p>
    <p>
        KibTooltip HTML example:
        <kib-tooltip>
            <h2>HTML Table</h2>

            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                </tr>
            </table>
        </kib-tooltip>
    </p>
</lib-gesuch-page-layout>
