.fkjv-kinderabzug {
    ::ng-deep .inline-hint {
        padding-bottom: 1rem;
        display: inline-block;
        padding-left: 0;
    }

    .kinderabzug-pflegekind {
        margin-bottom: 2rem;
    }
}
