@import (reference) 'style/variables.less';

.tabellarische-maske {
    background-color: @contrast-light;
    padding: 10rem 10rem 14rem 10rem;
    width: 100%;

    & > form > tabellarische-maske-table {
        display: block;
        margin-bottom: 1rem;
    }

    & > form > .tabellarische-maske-actions {
        display: flex;
        justify-content: center;

        & > button {
            margin-right: 2rem;
        }
    }
}
