.monitoring-table {
    mat-cell,
    mat-header-cell {
        padding-right: 5px;
    }
    mat-cell:first-child,
    mat-header-cell:first-child {
        flex: 0 0 160px;
    }
    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2) {
        flex: 0 0 100px;
    }
    mat-cell:last-child,
    mat-header-cell:last-child {
        flex: 0 0 160px;
    }
}

.bold-text {
    font-weight: 700;
}
