@use 'style/variables' as *;

:host {
    display: block;
}

.meldungsfenster {
    color: $black;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;

    .meldung-content {
        display: flex;
        align-items: flex-start;
        padding: 4rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        border: 3px solid;
        position: relative;

        &.warnung {
            background-color: $lred;
            border-color: $dred;

            .meldung-icon {
                color: $dred;
            }
        }

        &.wichtig {
            background-color: $lorange;
            border-color: $orange;

            .meldung-icon {
                color: $orange;
            }
        }

        &.info {
            background-color: $lgreen;
            border-color: $dgreen;

            .meldung-icon {
                color: $dgreen;
            }
        }

        .meldung-icon {
            flex: 0 0 5%;
            font-size: 6rem;
            display: flex;
            justify-content: center;
            margin-right: 1rem;
        }

        .meldung-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 93%;
            word-break: break-all;
            position: relative;

            .meldung-header {
                margin-bottom: 1rem;
                .meldung-title {
                    flex: 1;
                    h2 {
                        margin: 0;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }

            .meldung-inhalt {
                flex: 1; // make sure it contributes to the overall height
            }
        }

        .meldung-container-buttons {
            position: absolute;
            top: 1rem;
            right: 1rem;

            .meldung-button {
                .close-message-button {
                    background-color: transparent;
                    border: 0;
                }
            }
        }

        .count-indicator {
            font-weight: bold;
            position: absolute;
            right: 3rem;
            bottom: 1rem;
        }
    }

    .meldung-container {
        padding-left: 5rem;
    }
}
